body {
    /* background-color: #1D1E22; */
    background-color: #FBF0D9;
    color: #5F4B32;
    padding: 200px 25px 200px 25px;
}

figure {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: whitesmoke; 
  padding: 0px;
}

figure p {
  margin: 10px;
}

img {
  display: flex;
  align-items: center;
  justify-content: center;
}

figcaption {
  background-color: #222;
  color: #fff;
  font-style: italic;
  align-self: stretch;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.mermaid {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* MEDIA QUERIES */

/* Mobile first, we start from the smallest viewport width */

/* From 320px and up */
@media (min-width: 320px) {
  body {
    background-color: #1D1E22; /* #1c2127 */
    color: #dadada; /* rgba(218,218,218,255) */
    font-size: 1em;
    padding: 200px 25px 200px 25px;
  }

  blockquote {
    color: #1cb7cf;
  }

  code{
    background-color: #282c34;
    color: #e06c75;
  }

  pre{
    background-color: #282c34;
  }

  figure p {
    color: #1D1E22;
  }

  p em {
    color: #fc84b4;
  }
}

 /* From 768px and up */
 @media (min-width: 768px) {
   body {
     background-color: #F0F8FF;
     color: #5F4B32;
     font-size: 1.5em;
     padding: 200px 100px 200px 100px;
   }

   code{
    background-color: #343028;
    color: #6ce0d7;
   }

   pre{
     background-color: #343028;
   }

   figure p {
    color: #5F4B32;
  }

   blockquote {
    color: #5F4B32;
  }

  p em {
    color: #5F4B32;
  }
 }
 
 /* From 1024px and up */
 @media (min-width: 1024px) {
   body {
     background-color: #FBF0D9;
     color: #5F4B32;
     padding: 200px 100px 200px 100px;
   }
 }
 
 /* From 1224px and up */
 @media (min-width: 1224px) {
   body {
     background-color: #FBF0D9;
     color: #5F4B32;
     padding: 200px 100px 200px 100px;
   }
 }
 
 /* From 1824px and up */
 @media (min-width: 1824px) {
   body {
     background-color: #FBF0D9;
     color: #5F4B32;
     padding: 200px 100px 200px 100px;
   }
 }
 
 /*  max-width query */
 /* From 850px and up, until 950px  */
 @media (min-width: 850px) and (max-width: 950px) {
   body {
     background-color: #F0F8FF;
     color: #5F4B32;
     font-size: 1.5em;
     padding: 200px 100px 200px 100px;
   }
 }